@use 'sass:map';
@use '../styles/theme-interface' as theme;
@use '../styles/utils' as utils;

mat-sidenav-container {
  height: auto;
  background: var(--background);
}

mat-sidenav {
  width: theme.$sidenav-width;
  
  .mat-toolbar {
    border-bottom: 1px solid var(--divider);
  }
}

mat-sidenav-content {
  background: var(--background);

  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: map.get(theme.$z-index, header);
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  max-width: utils.rem(1200);
  margin: 0 auto;
  box-sizing: border-box;
}